@{
    ViewBag.Title = "EduType";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@{
    ViewBag.Title = "StudentHome";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>codixU</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Files/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Files/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/b97e424f4a.js" crossorigin="anonymous"></script>
    <link href="~/Files/EduType.css" rel="stylesheet" />
    <link href="~/Files/StudentLayout.css" rel="stylesheet" />
</head>

<body>
    <section id="apply-aprt" class="pb-120">
        <div class="container">
            <div class="apply">
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="apply-cont apply-color-1">
                            <h3>İnteraktif Eğitimler</h3>
                            <p>İnteraktif eğitimler ile seçtiğin diller ile ilgili genel yapı ve kodlamaları öğren.Bölüm sonu quiz soruları ile kendini test et.</p>
                            <a href="#" class="main-btn">Eğitime Başla</a>
                        </div> 
                    </div>
                    <div class="col-lg-6">
                        <div class="apply-cont apply-color-2">
                            <h3>Eğitimci Eğitimleri</h3>
                            <p>Alanlarında bilgili kişilerin dokümanlarından yararlan ve eğitim serilerine ulaş.İstediğin yazılım dili ile alakalı eğitimleri gör.</p>
                            <a href="~/Views/EducationList/EducationView.cshtml" class="main-btn">Eğitimlere Göz At</a>
                        </div> 
                    </div>
                </div>
            </div> 
        </div> 
    </section>




    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/contact_me.js"></script>
    <script src="~/Scripts/agency.min.js"></script>
</body>
</html>




