
@{
    ViewBag.Title = "StudentHome";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>codixU</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Files/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Files/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/b97e424f4a.js" crossorigin="anonymous"></script>

    <link href="~/Files/StudentLayout.css" rel="stylesheet" />
</head>

<body>


    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Hoşgeldiniz</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/Student/StudentCourses">Hemen Öğrenmeye Başla➔</a>

            </div>
        </div>
    </header>

    <section class="bg-light page-section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h4 class="section-heading">Kaydolmak İsteyebileceğin Kurslar</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-java fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>Java</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-react fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>React</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-angular fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>Angular</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-android fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>Android</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-python fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>Python</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-html5 fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>HTML</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/contact_me.js"></script>
    <script src="~/Scripts/agency.min.js"></script>
</body>
</html>

