<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>codixU</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Files/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Files/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/b97e424f4a.js" crossorigin="anonymous"></script>
    <link href="~/Files/agency.min.css" rel="stylesheet" />

</head>
@RenderBody()
<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">codixU</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto" role="navigation">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">KURSLAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">İLETİŞİM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/User/Login">GIRIS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/User/Register">KAYDOL</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase">Analitik düşünmeyi öğren, problemleri keşfet, yazılım dünyasına adım at</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Haydi Başla➔</a>
            </div>
        </div>
    </header>

    <!-- Services -->
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Algoritma Nedir?</h2>
                    <h3 class="section-subheading text-muted">Bir sorunu yada bir problemi çözmek veya belirli bir amaca ulaşmak için gerekli olan sıralı mantıksal adımların tümüne algoritma denir.  Algoritma bir sorunun çözümü için izlenecek yolun tanımıdır. Kısaca algoritma mevcut bilgilerden istenilenlere erişme yöntemidir.  Programlamanın en önemli kısmı problemin çözümü için algoritma hazırlayabilmek, geliştirmektir.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-3x">
                        <img src="~/Img/problem-rules.png" width="125%" height="125%" />
                    </span>
                    <h4 class="service-heading">1</h4>
                    <p class="text-muted">
                        Bir Problemin Kurallarını Belirleyin
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-3x">
                        <img src="~/Img/problem-space.png" width="125%" height="125%" />
                    </span>
                    <h4 class="service-heading">2</h4>
                    <p class="text-muted">Problemin Nerede Olduğunu Belirleyin</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-3x">
                        <img src="~/Img/plan.png" width="125%" height="125%" />
                    </span>
                    <h4 class="service-heading">3</h4>
                    <p class="text-muted">Sorunu Çözmesi Gereken Bir Plan Belirtin ve Planı Adımlara Ayırın</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-3x">
                        <img src="~/Img/programming.png" width="125%" height="125%" />
                    </span>
                    <h4 class="service-heading">3</h4>
                    <p class="text-muted">Her Adımı Bir Kod Satırına Çevirin</p>
                </div>

            </div>
        </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light page-section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">KURSLAR</h2>
                    <h3 class="section-subheading text-muted">Kursları keşfedin. Online kurslarla başarıyı yakalayın.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-java fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>Java</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-react fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>React</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-angular fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>Angular</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-android fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>Android</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-python fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>Python</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="~/Student/Edutype">
                            <div class="box-part text-center">
                                <span style="color:#6f2da8">
                                    <i class="fab fa-html5 fa-5x" aria-hidden="true"></i>
                                </span>
                                <div class="title">
                                    <h4>HTML</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="page-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">CodixU ile Başarıyı Yakala</h2>
                    <h3 class="section-subheading text-muted">Amacını belirle, kursunu tamamla!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Img/programmer.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Yazılım Alanında Yeni Bir Şeyler Mi Öğrenmek İstiyorsun?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Teknolojinin önemli adımlarından ve gerekliliklerinden birisi yazılımdır.Günümüzde ise yazılımın önemi,teknolojinin ilerleyişi ile büyük oranda arttı.Yazılımın temelinde olan algoritma ile yazılım öğrenimine başlanmalıdır.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Img/decide.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Hangi Yazılım Alanında Çalışmak İstiyorsun ? </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">İlerlemek istediğimiz alan hakkında ilk olarak bilgi sahibi olup yazılımda nasıl kullanıldığı hakkında araştırma yapılmalı.  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Img/choice.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">
                                        Ne Öğrenmek İstiyorsun?
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Alan seçildikten sonra alan hakkında elde edilen bilgiler ile birlikte yazılımda hangi dillerin kullanıldığı belirlenmesi gerekmektedir.Öğrenmek istenilen dile karar verildikten sonra öğrenilmek istenilen dilin için gerekli dokümanları okuyup eğitime başlanmalıdır.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Img/project.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Proje Aşamasına Ne Zaman Geçilmeli?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Seçilen ve sonrasında öğrenilen dil ile birlikte testleri ve alıştırmaları başarı ile tamamladıktan sonra proje aşamasına geçilebilir.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Img/winner.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Tüm Adımları Tamamla,Yazılım Dünyasına Katıl!</h4>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Bizimle iletişime geçin</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Adınızı giriniz.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Mail adresinizi giriniz.">
                                    <p class="help-block text-danger"></p>
                                </div>
                    
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Mesajınızı giriniz."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Mesaj gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/FooterPartialView.cshtml")
    <!-- Portfolio Modals -->
   

    <!-- Bootstrap core JavaScript -->

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/contact_me.js"></script>
    <script src="~/Scripts/agency.min.js"></script>
</body>

</html>
